mars-sim-core/src/main/resources/conf/dtd/minerals.dtd

<!ELEMENT mineral-concentrations (mineral*)>
<!ELEMENT mineral (locale-list)>
<!ATTLIST mineral name CDATA #REQUIRED>
<!ATTLIST mineral frequency (common|uncommon|rare|very_rare) #REQUIRED>
<!ELEMENT locale-list (locale+)>
<!ELEMENT locale EMPTY>
<!ATTLIST locale name (volcanic|sedimentary|crater) #REQUIRED>