mars-sim-core/src/main/resources/conf/dtd/parts.dtd

<!ELEMENT part-list (part*)>
<!ELEMENT part (description?,maintenance-entity-list?)>
<!ATTLIST part name CDATA #REQUIRED>
<!ATTLIST part mass CDATA #REQUIRED>
<!ELEMENT description (#PCDATA)>
<!ELEMENT maintenance-entity-list (entity*)>
<!ELEMENT entity EMPTY>
<!ATTLIST entity name CDATA #REQUIRED>
<!ATTLIST entity probability CDATA #REQUIRED>
<!ATTLIST entity max-number CDATA #REQUIRED>